[DJANGO]
SECRET_KEY = SECRET_KEY_GOES_HERE

[API]
API_URL = API_URL_GOES_HERE
API_KEY = API_KEY_GOES_HERE
API_HOST = API_HOST_GOES_HERE

[DB]
NAME = NAME_GOES_HERE
USER = USER_GOES_HERE
PASSWORD = PASSWORD_GOES_HERE
HOST = HOST_GOES_HERE
PORT = PORT_GOES_HERE